.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    Justify-content: center;
    border-radius: 8px;
    width: 100%;
}
.mainCenter{
    height: 100vh;
}

.notFound {
    margin: 20px;
    font-weight: bold;
    color: #ff1c17;
}

