.searchBarDesktop {
    margin: 20px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    padding-top: 20px;
    box-shadow: 0 0 6px 1px #c1c1c1;
}
.searchForm {
    display: flex;
    flex-direction: row;
    Justify-content: center;
}
.searchFormField {
    width: 450px;
}
.searchFormButton {
    padding: 3px;
}